In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df_main = pd.read_csv("DelayedFlights.csv")
df_main.head(10)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
5,6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,...,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
6,10,2008,1,3,4,706.0,700,916.0,915,WN,...,5.0,19.0,0,N,0,NaN,NaN,NaN,NaN,NaN
7,11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
8,15,2008,1,3,4,1029.0,1020,1021.0,1010,WN,...,6.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
9,16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,...,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0

# MILESTONE-1

In [5]:
df_main.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [6]:
df_main.shape

(1936758, 30)

In [7]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

In [8]:
df_main.describe()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1.936758e+06,1936758.0,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.929648e+06,1.936758e+06,1.936758e+06,...,1.936758e+06,1.929648e+06,1.936303e+06,1.936758e+06,1.936758e+06,1.247488e+06,1.247488e+06,1.247488e+06,1.247488e+06,1.247488e+06
mean,3.341651e+06,2008.0,6.111106e+00,1.575347e+01,3.984827e+00,1.518534e+03,1.467473e+03,1.610141e+03,1.634225e+03,2.184263e+03,...,7.656862e+02,6.812975e+00,1.823220e+01,3.268348e-04,4.003598e-03,1.917940e+01,3.703571e+00,1.502164e+01,9.013714e-02,2.529647e+01
std,2.066065e+06,0.0,3.482546e+00,8.776272e+00,1.995966e+00,4.504853e+02,4.247668e+02,5.481781e+02,4.646347e+02,1.944702e+03,...,5.744797e+02,5.273595e+00,1.433853e+01,1.807562e-02,6.314722e-02,4.354621e+01,2.149290e+01,3.383305e+01,2.022714e+00,4.205486e+01
min,0.000000e+00,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,...,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.517452e+06,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,1.203000e+03,1.135000e+03,1.316000e+03,1.325000e+03,6.100000e+02,...,3.380000e+02,4.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,3.242558e+06,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.545000e+03,1.510000e+03,1.715000e+03,1.705000e+03,1.543000e+03,...,6.060000e+02,6.000000e+00,1.400000e+01,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,8.000000e+00
75%,4.972467e+06,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.900000e+03,1.815000e+03,2.030000e+03,2.014000e+03,3.422000e+03,...,9.980000e+02,8.000000e+00,2.100000e+01,0.000000e+00,0.000000e+00,2.100000e+01,0.000000e+00,1.500000e+01,0.000000e+00,3.300000e+01
max,7.009727e+06,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,9.742000e+03,...,4.962000e+03,2.400000e+02,4.220000e+02,1.000000e+00,1.000000e+00,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03

In [9]:
df_main['Month'].value_counts()

Month
12    203385
6     200914
3     200842
2     189534
1     183527
7     182945
8     162648
4     155264
5     153072
11    105563
10    103525
9      95539
Name: count, dtype: int64

In [10]:
df = df_main.copy()
df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [11]:
df.isnull().sum()

Unnamed: 0                0
Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 7110
TaxiOut                 455
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

In [12]:
# Here 5 records of tail number have null value so i remove it.
df.dropna(subset=['TailNum'], inplace=True)
df=df.reset_index(drop=False)
df

,index,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,0,2008,1,3,4,2003.0,1955,2211.0,2225,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,1,2008,1,3,4,754.0,735,1002.0,1000,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2,2008,1,3,4,628.0,620,804.0,750,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,3,4,2008,1,3,4,1829.0,1755,1959.0,1925,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,4,5,2008,1,3,4,1940.0,1915,2121.0,2110,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936748,1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936749,1936754,7009717,2008,12,13,6,657.0,600,904.0,749,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936750,1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936751,1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936752,1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [13]:
# Replace NaN with 0
df['CarrierDelay'] = df['CarrierDelay'].fillna(value=0.0)
df['WeatherDelay'] = df['WeatherDelay'].fillna(value=0.0)
df['NASDelay'] = df['NASDelay'].fillna(value=0.0)
df['SecurityDelay'] = df['SecurityDelay'].fillna(value=0.0)
df['LateAircraftDelay'] = df['LateAircraftDelay'].fillna(value=0.0)

df.head()

,index,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,0,2008,1,3,4,2003.0,1955,2211.0,2225,...,4.0,8.0,0,N,0,0.0,0.0,0.0,0.0,0.0
1,1,1,2008,1,3,4,754.0,735,1002.0,1000,...,5.0,10.0,0,N,0,0.0,0.0,0.0,0.0,0.0
2,2,2,2008,1,3,4,628.0,620,804.0,750,...,3.0,17.0,0,N,0,0.0,0.0,0.0,0.0,0.0
3,3,4,2008,1,3,4,1829.0,1755,1959.0,1925,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,4,5,2008,1,3,4,1940.0,1915,2121.0,2110,...,4.0,10.0,0,N,0,0.0,0.0,0.0,0.0,0.0

In [14]:
# Checking Duplicate data
duplicate_data = df[df.duplicated()]
duplicate_data

Empty DataFrame
Columns: [index, Unnamed: 0, Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 31 columns]

In [15]:
# Converting few columns in proper date format 
df = df.rename(columns={'DayofMonth': 'day', 'Year': 'year', 'Month': 'month'})
df['Date'] = pd.to_datetime(df[['year', 'month', 'day']])
df['DayName'] = df['Date'].dt.day_name()
df.head()

,index,Unnamed: 0,year,month,day,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,...,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Date,DayName
0,0,0,2008,1,3,4,2003.0,1955,2211.0,2225,...,0,N,0,0.0,0.0,0.0,0.0,0.0,2008-01-03,Thursday
1,1,1,2008,1,3,4,754.0,735,1002.0,1000,...,0,N,0,0.0,0.0,0.0,0.0,0.0,2008-01-03,Thursday
2,2,2,2008,1,3,4,628.0,620,804.0,750,...,0,N,0,0.0,0.0,0.0,0.0,0.0,2008-01-03,Thursday
3,3,4,2008,1,3,4,1829.0,1755,1959.0,1925,...,0,N,0,2.0,0.0,0.0,0.0,32.0,2008-01-03,Thursday
4,4,5,2008,1,3,4,1940.0,1915,2121.0,2110,...,0,N,0,0.0,0.0,0.0,0.0,0.0,2008-01-03,Thursday

In [16]:
# Delete unwanted columns
df = df.drop(['Unnamed: 0','year','month','day','DayOfWeek'], axis=1)
df.head()

,index,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,...,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Date,DayName
0,0,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,...,0,N,0,0.0,0.0,0.0,0.0,0.0,2008-01-03,Thursday
1,1,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,...,0,N,0,0.0,0.0,0.0,0.0,0.0,2008-01-03,Thursday
2,2,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,...,0,N,0,0.0,0.0,0.0,0.0,0.0,2008-01-03,Thursday
3,3,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,...,0,N,0,2.0,0.0,0.0,0.0,32.0,2008-01-03,Thursday
4,4,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,...,0,N,0,0.0,0.0,0.0,0.0,0.0,2008-01-03,Thursday

In [17]:
# Arranging columns properly
df = df.drop(columns=['level_0', 'index'], errors='ignore')
cols = ['Date'] + [col for col in df.columns if col != 'Date']
df = df[cols]

df.head()

,Date,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DayName
0,2008-01-03,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,150.0,...,8.0,0,N,0,0.0,0.0,0.0,0.0,0.0,Thursday
1,2008-01-03,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,145.0,...,10.0,0,N,0,0.0,0.0,0.0,0.0,0.0,Thursday
2,2008-01-03,628.0,620,804.0,750,WN,448,N428WN,96.0,90.0,...,17.0,0,N,0,0.0,0.0,0.0,0.0,0.0,Thursday
3,2008-01-03,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,90.0,...,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0,Thursday
4,2008-01-03,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,115.0,...,10.0,0,N,0,0.0,0.0,0.0,0.0,0.0,Thursday

In [18]:
cols = list(df.columns)
cols.remove("DayName")
cols.insert(1, "DayName")
df_col = df[cols]
df_col.head()

,Date,DayName,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008-01-03,Thursday,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,...,4.0,8.0,0,N,0,0.0,0.0,0.0,0.0,0.0
1,2008-01-03,Thursday,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,...,5.0,10.0,0,N,0,0.0,0.0,0.0,0.0,0.0
2,2008-01-03,Thursday,628.0,620,804.0,750,WN,448,N428WN,96.0,...,3.0,17.0,0,N,0,0.0,0.0,0.0,0.0,0.0
3,2008-01-03,Thursday,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008-01-03,Thursday,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,...,4.0,10.0,0,N,0,0.0,0.0,0.0,0.0,0.0

In [19]:
df = df_col
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936753 entries, 0 to 1936752
Data columns (total 27 columns):
 #   Column             Dtype
---  ------             -----
 0   Date               datetime64[ns]
 1   DayName            object
 2   DepTime            float64
 3   CRSDepTime         int64
 4   ArrTime            float64
 5   CRSArrTime         int64
 6   UniqueCarrier      object
 7   FlightNum          int64
 8   TailNum            object
 9   ActualElapsedTime  float64
 10  CRSElapsedTime     float64
 11  AirTime            float64
 12  ArrDelay           float64
 13  DepDelay           float64
 14  Origin             object
 15  Dest               object
 16  Distance           int64
 17  TaxiIn             float64
 18  TaxiOut            float64
 19  Cancelled          int64
 20  CancellationCode   object
 21  Diverted           int64
 22  CarrierDelay       float64
 23  WeatherDelay       float64
 24  NASDelay           float64
 25  SecurityDelay      float64
 26  LateAircraftDelay  float64
dtypes: datetime64[ns](1), float64(14), int64(6), object(6)
memory usage: 399.0+ MB

In [20]:
# Reduce int64, float64 and object into int32, float32 and category for better optimization
def optimize_dataframe(df):
    for col in df.columns:
        col_type = df[col].dtypes
        
        if col_type == "int64":
            df[col] = pd.to_numeric(df[col], downcast="integer")
        elif col_type == "float64":
            df[col] = pd.to_numeric(df[col], downcast="float")
    return df
df = optimize_dataframe(df)

cat_cols = ["UniqueCarrier", "Origin", "Dest", "CancellationCode", "TailNum"]
for col in cat_cols:
    df[col] = df[col].astype("category")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936753 entries, 0 to 1936752
Data columns (total 27 columns):
 #   Column             Dtype
---  ------             -----
 0   Date               datetime64[ns]
 1   DayName            object
 2   DepTime            float32
 3   CRSDepTime         int16
 4   ArrTime            float32
 5   CRSArrTime         int16
 6   UniqueCarrier      category
 7   FlightNum          int16
 8   TailNum            category
 9   ActualElapsedTime  float32
 10  CRSElapsedTime     float32
 11  AirTime            float32
 12  ArrDelay           float32
 13  DepDelay           float32
 14  Origin             category
 15  Dest               category
 16  Distance           int16
 17  TaxiIn             float32
 18  TaxiOut            float32
 19  Cancelled          int8
 20  CancellationCode   category
 21  Diverted           int8
 22  CarrierDelay       float32
 23  WeatherDelay       float32
 24  NASDelay           float32
 25  SecurityDelay      float32
 26  LateAircraftDelay  float32
dtypes: category(5), datetime64[ns](1), float32(14), int16(4), int8(2), object(1)
memory usage: 166.4+ MB

In [21]:
df.head()

,Date,DayName,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008-01-03,Thursday,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,...,4.0,8.0,0,N,0,0.0,0.0,0.0,0.0,0.0
1,2008-01-03,Thursday,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,...,5.0,10.0,0,N,0,0.0,0.0,0.0,0.0,0.0
2,2008-01-03,Thursday,628.0,620,804.0,750,WN,448,N428WN,96.0,...,3.0,17.0,0,N,0,0.0,0.0,0.0,0.0,0.0
3,2008-01-03,Thursday,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008-01-03,Thursday,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,...,4.0,10.0,0,N,0,0.0,0.0,0.0,0.0,0.0

In [22]:
df_new = df.copy()
df_new

,Date,DayName,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008-01-03,Thursday,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,...,4.0,8.0,0,N,0,0.0,0.0,0.0,0.0,0.0
1,2008-01-03,Thursday,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,...,5.0,10.0,0,N,0,0.0,0.0,0.0,0.0,0.0
2,2008-01-03,Thursday,628.0,620,804.0,750,WN,448,N428WN,96.0,...,3.0,17.0,0,N,0,0.0,0.0,0.0,0.0,0.0
3,2008-01-03,Thursday,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008-01-03,Thursday,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,...,4.0,10.0,0,N,0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936748,2008-12-13,Saturday,1250.0,1220,1617.0,1552,DL,1621,N938DL,147.0,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936749,2008-12-13,Saturday,657.0,600,904.0,749,DL,1631,N3743H,127.0,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936750,2008-12-13,Saturday,1007.0,847,1149.0,1010,DL,1631,N909DA,162.0,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936751,2008-12-13,Saturday,1251.0,1240,1446.0,1437,DL,1639,N646DL,115.0,...,13.0,13.0,0,N,0,0.0,0.0,0.0,0.0,0.0
1936752,2008-12-13,Saturday,1110.0,1103,1413.0,1418,DL,1641,N908DL,123.0,...,8.0,11.0,0,N,0,0.0,0.0,0.0,0.0,0.0

In [23]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936753 entries, 0 to 1936752
Data columns (total 27 columns):
 #   Column             Dtype
---  ------             -----
 0   Date               datetime64[ns]
 1   DayName            object
 2   DepTime            float32
 3   CRSDepTime         int16
 4   ArrTime            float32
 5   CRSArrTime         int16
 6   UniqueCarrier      category
 7   FlightNum          int16
 8   TailNum            category
 9   ActualElapsedTime  float32
 10  CRSElapsedTime     float32
 11  AirTime            float32
 12  ArrDelay           float32
 13  DepDelay           float32
 14  Origin             category
 15  Dest               category
 16  Distance           int16
 17  TaxiIn             float32
 18  TaxiOut            float32
 19  Cancelled          int8
 20  CancellationCode   category
 21  Diverted           int8
 22  CarrierDelay       float32
 23  WeatherDelay       float32
 24  NASDelay           float32
 25  SecurityDelay      float32
 26  LateAircraftDelay  float32
dtypes: category(5), datetime64[ns](1), float32(14), int16(4), int8(2), object(1)
memory usage: 166.4+ MB

In [24]:
df_new.head()

,Date,DayName,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008-01-03,Thursday,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,...,4.0,8.0,0,N,0,0.0,0.0,0.0,0.0,0.0
1,2008-01-03,Thursday,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,...,5.0,10.0,0,N,0,0.0,0.0,0.0,0.0,0.0
2,2008-01-03,Thursday,628.0,620,804.0,750,WN,448,N428WN,96.0,...,3.0,17.0,0,N,0,0.0,0.0,0.0,0.0,0.0
3,2008-01-03,Thursday,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008-01-03,Thursday,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,...,4.0,10.0,0,N,0,0.0,0.0,0.0,0.0,0.0

In [25]:
df_time = df_new
df_time.head()

,Date,DayName,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008-01-03,Thursday,2003.0,1955,2211.0,2225,WN,335,N712SW,128.0,...,4.0,8.0,0,N,0,0.0,0.0,0.0,0.0,0.0
1,2008-01-03,Thursday,754.0,735,1002.0,1000,WN,3231,N772SW,128.0,...,5.0,10.0,0,N,0,0.0,0.0,0.0,0.0,0.0
2,2008-01-03,Thursday,628.0,620,804.0,750,WN,448,N428WN,96.0,...,3.0,17.0,0,N,0,0.0,0.0,0.0,0.0,0.0
3,2008-01-03,Thursday,1829.0,1755,1959.0,1925,WN,3920,N464WN,90.0,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008-01-03,Thursday,1940.0,1915,2121.0,2110,WN,378,N726SW,101.0,...,4.0,10.0,0,N,0,0.0,0.0,0.0,0.0,0.0

In [26]:
# Select time-related columns 
time_cols = [c for c in df_time.columns 
             if "Time" in c and str(df_time[c].dtype).startswith(("int", "float"))]

print("Time columns detected:", time_cols)

# Convert each column into proper time format
for col in time_cols:
    df_time[col] = (
        pd.to_datetime(
            df_time[col]
            .fillna(0)                 
            .astype(int)               
            .astype(str)               
            .str.zfill(4)              
            .str.replace("2400","0000"), 
            format="%H%M",
            errors="coerce"
        ).dt.time
    )

df_time.head()

Time columns detected: ['DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime']

,Date,DayName,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008-01-03,Thursday,20:03:00,19:55:00,22:11:00,22:25:00,WN,335,N712SW,01:28:00,...,4.0,8.0,0,N,0,0.0,0.0,0.0,0.0,0.0
1,2008-01-03,Thursday,07:54:00,07:35:00,10:02:00,10:00:00,WN,3231,N772SW,01:28:00,...,5.0,10.0,0,N,0,0.0,0.0,0.0,0.0,0.0
2,2008-01-03,Thursday,06:28:00,06:20:00,08:04:00,07:50:00,WN,448,N428WN,NaT,...,3.0,17.0,0,N,0,0.0,0.0,0.0,0.0,0.0
3,2008-01-03,Thursday,18:29:00,17:55:00,19:59:00,19:25:00,WN,3920,N464WN,NaT,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008-01-03,Thursday,19:40:00,19:15:00,21:21:00,21:10:00,WN,378,N726SW,01:01:00,...,4.0,10.0,0,N,0,0.0,0.0,0.0,0.0,0.0

In [27]:
df_time.shape
df_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936753 entries, 0 to 1936752
Data columns (total 27 columns):
 #   Column             Dtype
---  ------             -----
 0   Date               datetime64[ns]
 1   DayName            object
 2   DepTime            object
 3   CRSDepTime         object
 4   ArrTime            object
 5   CRSArrTime         object
 6   UniqueCarrier      category
 7   FlightNum          int16
 8   TailNum            category
 9   ActualElapsedTime  object
 10  CRSElapsedTime     object
 11  AirTime            object
 12  ArrDelay           float32
 13  DepDelay           float32
 14  Origin             category
 15  Dest               category
 16  Distance           int16
 17  TaxiIn             float32
 18  TaxiOut            float32
 19  Cancelled          int8
 20  CancellationCode   category
 21  Diverted           int8
 22  CarrierDelay       float32
 23  WeatherDelay       float32
 24  NASDelay           float32
 25  SecurityDelay      float32
 26  LateAircraftDelay  float32
dtypes: category(5), datetime64[ns](1), float32(9), int16(2), int8(2), object(8)
memory usage: 225.5+ MB

In [30]:
# here delay columns converted into DelayReason and DelayTime column
delay_cols = ["CarrierDelay", "WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay"]

df_long = df_time.melt(
    id_vars=["Date", "DayName", "DepTime", "CRSDepTime", "ArrTime", "CRSArrTime",
             "UniqueCarrier", "FlightNum", "TailNum", "ActualElapsedTime", "CRSElapsedTime",
             "AirTime", "ArrDelay", "DepDelay", "Origin", "Dest", "Distance",
             "TaxiIn", "TaxiOut", "Cancelled", "CancellationCode", "Diverted"],
    value_vars=delay_cols,
    var_name="DelayReason",
    value_name="DelayTime"
)

# (optional) remove rows with no delay
df_long = df_long[df_long["DelayTime"] > 0]

df_long.head()

,Date,DayName,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,DelayReason,DelayTime
3,2008-01-03,Thursday,18:29:00,17:55:00,19:59:00,19:25:00,WN,3920,N464WN,NaT,...,IND,BWI,515,3.0,10.0,0,N,0,CarrierDelay,2.0
5,2008-01-03,Thursday,19:37:00,18:30:00,20:37:00,19:40:00,WN,509,N763SW,02:40:00,...,IND,LAS,1591,3.0,7.0,0,N,0,CarrierDelay,10.0
7,2008-01-03,Thursday,16:44:00,15:10:00,18:45:00,17:25:00,WN,1333,N334SW,01:21:00,...,IND,MCO,828,6.0,8.0,0,N,0,CarrierDelay,8.0
9,2008-01-03,Thursday,14:52:00,14:25:00,16:40:00,16:25:00,WN,675,N286WN,02:28:00,...,IND,PHX,1489,7.0,8.0,0,N,0,CarrierDelay,3.0
12,2008-01-03,Thursday,14:16:00,13:25:00,15:12:00,14:35:00,WN,54,N643SW,00:56:00,...,ISP,BWI,220,2.0,5.0,0,N,0,CarrierDelay,12.0

In [31]:
df_long.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2111433 entries, 3 to 9683762
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   Date               datetime64[ns]
 1   DayName            object
 2   DepTime            object
 3   CRSDepTime         object
 4   ArrTime            object
 5   CRSArrTime         object
 6   UniqueCarrier      category
 7   FlightNum          int16
 8   TailNum            category
 9   ActualElapsedTime  object
 10  CRSElapsedTime     object
 11  AirTime            object
 12  ArrDelay           float32
 13  DepDelay           float32
 14  Origin             category
 15  Dest               category
 16  Distance           int16
 17  TaxiIn             float32
 18  TaxiOut            float32
 19  Cancelled          int8
 20  CancellationCode   category
 21  Diverted           int8
 22  DelayReason        object
 23  DelayTime          float32
dtypes: category(5), datetime64[ns](1), float32(5), int16(2), int8(2), object(9)
memory usage: 245.8+ MB

In [33]:
df_long.shape

(2111433, 24)

# MILESTONE-2

In [ ]:
airlines = df_new['UniqueCarrier'].value_counts()

plt.figure(figsize=(10,6))
airlines.plot(kind='bar')
plt.title("Airlines by Number of Flights")
plt.xlabel("Airline")
plt.ylabel("Number of Flights")
plt.show()

In [ ]:
df_new['Route'] = df_new['Origin'].astype(str) + "-" + df_new['Dest'].astype(str)
top_routes = df_new['Route'].value_counts().head(20)

plt.figure(figsize=(12,6))
top_routes.plot(kind='bar')
plt.title("Top 20 Routes by Number of Flights")
plt.xlabel("Route")
plt.ylabel("Number of Flights")
plt.show()

In [ ]:
top_airports = df_new['Origin'].value_counts().head(20)

plt.figure(figsize=(12,6))
top_airports.plot(kind='bar')
plt.title("Top 20 Origin Airports")
plt.xlabel("Airport")
plt.ylabel("Number of Flights")
plt.show()

In [ ]:
import calendar

df_new['Date'] = pd.to_datetime(df['Date'])
df_new['Month'] = df_new['Date'].dt.month

monthly_flights = df_new['Month'].value_counts().sort_index()

# Map month numbers to 3-letter names
month_names = [calendar.month_abbr[m] for m in monthly_flights.index]

plt.figure(figsize=(10,6))
plt.plot(month_names, monthly_flights.values, marker='o')
plt.title("Flights Distribution by Month")
plt.xlabel("Month")
plt.ylabel("Number of Flights")
plt.show()

In [ ]:
counts = {
    "Cancelled": df_new['Cancelled'].sum(),
    "Diverted": df_new['Diverted'].sum()
}

plt.bar(counts.keys(), counts.values(), color=['red','orange'])
plt.title("Number of Cancelled and Diverted Flights")
plt.ylabel("Flights")
plt.show()

In [ ]:
cancelled_flights = df_new['Cancelled'].sum()
print("Cancelled flights:", cancelled_flights)
diverted_flights = df['Diverted'].sum()
print("Diverted flights:", diverted_flights)

In [ ]:
airline_summary = df_new.groupby("UniqueCarrier").agg(
    TotalFlights = ("Cancelled", "count"),
    Cancelled = ("Cancelled", "sum"),
    Diverted = ("Diverted", "sum")
)

airline_summary["CancelRate_%"] = (airline_summary["Cancelled"] / airline_summary["TotalFlights"]) * 100
airline_summary["DivertRate_%"] = (airline_summary["Diverted"] / airline_summary["TotalFlights"]) * 100

print(airline_summary.sort_values("Cancelled", ascending=False))
airline_summary[["Cancelled","Diverted"]].plot(
    kind="bar", figsize=(12,6), stacked=False
)
plt.title("Cancelled and Diverted Flights by Airline")
plt.ylabel("Number of Flights")
plt.xlabel("Airline")
plt.show()

In [ ]:
delay_columns = ["CarrierDelay","WeatherDelay","NASDelay","SecurityDelay","LateAircraftDelay"]

delay_summary = df_new[delay_columns].sum().sort_values(ascending=False)
print(delay_summary)

In [ ]:
plt.figure(figsize=(8,5))
delay_summary.plot(kind="bar", color="skyblue", edgecolor="black")
plt.title("Total Delay Minutes by Reason")
plt.ylabel("Total Delay (minutes)")
plt.xlabel("Delay Reason")
plt.show()

In [ ]:
airline_delay = df_new.groupby("UniqueCarrier")[delay_columns].sum()
print(airline_delay.head())

# Plot stacked bar chart
airline_delay.plot(
    kind="bar", 
    stacked=True, 
    figsize=(12,6),
    colormap="tab20c"
)
plt.title("Delay Reasons by Airline")
plt.ylabel("Total Delay (minutes)")
plt.xlabel("Airline")
plt.legend(title="Delay Type")
plt.show()

In [ ]:
df_new